__pycache__/onkyo_controller.cpython-310.pyc
__pycache__/onkyo_controller.cpython-313.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS Finder metadata
.DS_Store

# PyInstaller
#  (bundled apps or build artifacts)
dist/
build/
*.spec

# Environment
.env
.venv/
venv/
ENV/
env/
*.env

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug
*.log

# Unit test cache
.pytest_cache/
.tox/
.coverage
coverage.xml
nosetests.xml
test-results/

# Wheels
*.whl

# Distribution
*.egg-info/
.eggs/

__pycache__/onkyo_controller.cpython-313.pyc
